<div class="QTZ_filter" *ngIf="type == 'date'">
    <label>
        {{ displayName }}:
        <input type="date" #element
            (change)="filtersHandler.replaceFilter({
                type: type,
                name: name,
                displayName: displayName,
                value: element.value,
                displayValue: element.value
            })">
    </label>
</div>
<div class="QTZ_filter" *ngIf="type != 'date'">
    <a (click)="filtersHandler.toggleOpenedFilter(name)">
        {{ displayName }}: <span>{{ filtersHandler.getFilterDisplayName(name) || 'All' }}</span> <img src="http://assets.natexo.com/NATEXO/ENTITY/IMAGES/GLOBAL/select_arrow.png" alt="">
    </a>
    <ul *ngIf="filtersHandler.isFilterOpened(name)">
        <li *ngFor="let element of filterList">
            <a *ngIf="type == 'simple'"
               (click)="filtersHandler.replaceFilter({
                   type: type,
                   name: name,
                   displayName: displayName,
                   value: element.id,
                   displayValue: element.value
               })">
                {{ element.value }}
            </a>
            <a *ngIf="type == 'multi'"
               (click)="filtersHandler.addFilter({
                   type: type,
                   name: name,
                   displayName: displayName,
                   value: element.id,
                   displayValue: element.value
               })">
                {{ element.value }}
            </a>
        </li>
    </ul>
</div>